{% extends 'base.html.twig' %}
{% block title %} Question {{ step }}{% endblock %}
{% block header %}
    {{ include('base/header.html.twig') }}
{% endblock %}
{% block body %}
    <main class="flex-shrink-0 main mt-5">
        <div class="container">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10 col-lg-10">
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <h4>{{ quiz.name }}</h4><span>({{ step }} of {{ totalQuestions }})</span>
                            </div>
                        </div>
                        <form action="{{ path('question_answers', {id: quiz.id, step: step}) }}" method="post" id="answersQuestion">
                            <div class="question bg-white p-3 border-bottom">
                                <div class="d-flex flex-row align-items-center question-title">
                                    <h3 class="text-danger">Q.</h3>
                                    <h5 class="mt-1 ml-2">{{ question.text }}</h5>
                                </div>
                                {% for answer in answers %}
                                    <div class="ans ml-2">
                                        <label class="radio"> <input type="radio" name="question_{{ step }}" value="{{ answer.id }}"> <span>{{ answer.text }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                <button class="btn btn-primary border-success align-items-center btn-success" type="submit">
                                Next<i class="fa fa-angle-right ml-2"></i>
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
